.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 80vh;
}

.top-list-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;

}
.event-list-rsvp,
.event-list-user {
  flex-direction: column;
  width: 50%;
}

.welcome-user,
.select-list-dropdown {
  width: 50%;
  display: flex;
  justify-content: center;
}

.welcome-user {
  justify-content: flex-start;
  margin-left: 20px;
  padding-bottom: 0px;
}

.select-dropdown{
  margin-top: 0;
}
.map-view-btn {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-right: 20px;
}

.map-view-button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.map-view-button::after,
.map-view-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.map-view-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.map-view-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.map-view-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.map-view-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.map-view-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.map-view-button {
  text-decoration: none;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 700px ) {
  .main-container {
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }
  .event-list-rsvp,
  .events-list-user {
    width: 90vw;
    min-height: 50vh;
  }
  .event-list-rsvp {
    margin-bottom: 45px;
    margin-top: 30px;
  }
}

.events-dropdown{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px ) {
.event-list-rsvp {
  margin: 0;
  height: 20vh;
  min-height: 0;
}
.welcome-user {
  margin: 0;
  width: 100vw;
  text-align:center;
  display: flex;
  justify-content: center;
}

.event-list-user {
  width: 100vw;
}

.main-container {
  min-height: 65vh;
  
}


}
