.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 800px;
}

.rsvp-eventcards {
  flex-direction: column;
  width: 30%;
  overflow: scroll;
}

.event-list {
  flex-direction: column;
  width: 70%;
  overflow: scroll;
}