body {
  font-family: 'Quicksand', sans-serif;
}

.background-img {

  background-repeat: no-repeat;
  /* filter: saturate(2.0); */
  position: absolute;
  width: 100vw;
  object-fit: fill;
  z-index: -1;
  /* height: 100vh;
   */
  overflow: hidden;
}

html {
  width: 100vw;
  height: 100vh;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  
}

button:hover {
  cursor:pointer;
}
