.event-card {
  margin: 10px;
  width: 90%;
  height: 10em;
  border: 3px solid black;
}

.event-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 10px;
  height: 8em;
  border: 3px solid blue;
}