.dashboard-main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 85vh;
}

.rsvp-eventcards {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-link {
  text-decoration: none;
}

@media screen and (max-width: 500px ) {
  .dashboard-main-container {
    flex-direction: column-reverse;
  }
  .rsvp-eventcards{
    width: 90vw;
  }
}
