.dashboard-main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 85vh;
}

.dashboard-map-container {
  margin: 0px 20px 0px 0px;
}

.welcome-message {
  margin-left: 20px;
}

.rsvp-eventcards {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-link {
  text-decoration: none;
}

@media screen and (max-width: 700px ) {
  .dashboard-main-container {
    flex-direction: column-reverse;
  }
  .rsvp-eventcards{
    width: 22em;
  }
}

@media screen and (max-width: 400px ) {
  .dashboard-map-container {
    margin:0;
  }
  .rsvp-eventcards{
    width: 100vw;
    margin-top: -8vh;
    display:flex;
  }

  .event-container {
    width: 80%;
    margin-left: 10%;
    height: 20vh;
  }

  .event-buttons {
    margin-top: -4vh;
  }

  .attending-header {
    text-align: center;
  }
  .welcome-message {
    margin:0;
  }
}

.select-dropdown {
  width: 30vw;
  margin: 0px 0px 0px 5px;
}
