
.event-img {
  width: 50%;
  height: 50%;
}

.modal-header {
  text-align: center;
  background-color:#283618;
  width: 100%;
  height: 12%;
  font-weight: 300;
  border-radius: 12px 12px 0px 0px;
  color: #EFF1FB;
}

.event-modal {
  width: 80vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
}

.event-description {

}

.close-button {
  float: right;
  margin-top: 1%;
  margin-left: 95%;
  font-size: 2rem;
  border:none;
  background-color: rgba(255, 255, 255, 0.0);
  color: red;
}

.modal-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5%;
  text-align: center;
  background-color: #eeeeee;
}
