
.event-img {
  width: 25%;
  height: 25%;
  border-radius: 12px;
}

.modal-button {
  background-color:#283618;
  color: #EFF1FB;
  border: none;
  padding: 1%;
  margin: 1%;
  box-shadow: 6px 6px 13px rgb(0 0 0 / 25%);
}

.modal-header {
  text-align: center;
  background-color:#283618;
  width: 100%;
  height: 15%;
  font-weight: 300;
  border-radius: 12px 12px 0px 0px;
  color: #EFF1FB;
}

.event-modal-map {
  height: 40%;
  width: 40%;
  margin-left: 30%;
  z-index:9999;
}

.event-modal {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  outline: none;
}

.close-button {
  float: right;
  margin-top: 1%;
  margin-left: 95%;
  font-size: 2rem;
  border:none;
  background-color: rgba(255, 255, 255, 0.0);
  color: red;
}

.modal-grid {
  display: grid;
  overflow:hidden;
  height: 100%;
  grid-template-columns: 50% 50%;
  justify-content: center;
  text-align: center;
}

.ReactModal__Overlay {
  z-index: 9999;
}
