.user-profile-page {
  width: 100vw;
  min-height: 85vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: black;
}

.update-profile-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 25px;
  width: max-content;
}

.material-symbols-outlined {
  margin-right: 5px;
}

.edit-profile {
  margin: 0;
}

.edit-profile:hover {
  text-decoration: underline;
}

.top-container{
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 20px;
}

.bottom-container {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-container {
  padding: 0;
  width: 40vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-height: 40vh;
}

.card {
  flex-direction: row;
}

.profile-picture {
  height: 250px;
  object-fit: contain;
  border-radius: 20px;
  background-size: cover;
  border: 2px solid black;
}

.name-wrapper,
.location-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.location-wrapper {
  margin: 20px 0px 0px 0px;
}

.description-text-box {
  margin: 0;
  width: 40vw;
  height: 30vh;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
  /* padding-top: 20px; */
  border: 2px solid black;
}

.tag-container {
  width: 40vw;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-top: 20px;
  border: 2px solid black;
}

.tag-title {
  padding: 10px;
  color: white;
  background-color: rgb(54, 53, 53);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 2px solid black;
}

@media screen and (max-width: 700px) {
  .top-container, 
  .bottom-container {
   flex-direction: column;
   align-items: center;
  }

  .left-container,
  .right-container,
  .name-wrapper,
  .location-wrapper,
  .tag-container,
  .description-text-box,
  .profile-picture {
    width: 90vw;
  }
}
