.user-profile-page {
  width: 100vw;
  min-height: 85vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-container{
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bottom-container {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Left Container */
.left-container {
  width: 40vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Right Container */
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  min-height: 40vh;
}

.card {
  flex-direction: row;
}

.profile-picture {
  width: 35vw;
  height: 35vh;
  border-radius: 12px;
  background-image: url(/src/user-profile-pic.png);
  background-size: cover;
}

.name-wrapper,
.location-wrapper {
  /* margin-top: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background: #EFF1FB;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 20px 0px 20px 0px;
}

.description-text-box {
  width: 40vw;
  height: 30vh;
  background: #EFF1FB;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  text-align: center;
  padding-top: 20px;
}

.tag-container {
  width: 40vw;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #EFF1FB;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-top: 20px;
}

.tag-title {
  padding: 10px;
  color: white;
  background-color: #283618;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

@media screen and (max-width: 700px) {
  .top-container, .bottom-container{
   flex-direction: column;
   align-items: center;
  }
  .left-container,
  .right-container,
  .name-wrapper,
  .location-wrapper,
  .tag-container,
  .description-text-box,
  .profile-picture
   {
    width: 90vw;
  }
}
