.event-form-map-container {
  position: absolute;
  margin-bottom: -25%;
  margin-top: 5%;
  margin-left: 50%;
  width: 35%;
  height: 30%;
}

.map-container {
  width: 50vw;
  height: 30em;
  margin: 10px;
  touch-action: auto;
}

@media screen and (max-width: 500px){
  .map-container{
    width: 90vw;
    height: 25em;
  }

  .event-form-map-container {
    
  }
}
